@using EyeTracker.Helpers;
@using EyeTracker.Model
@using EyeTracker.Model.Master
@using EyeTracker.Model.Pages.Portfolio
@using EyeTracker.Model.Pages.Analytics
@model DashboardModel
@{
    Layout = "~/Views/Shared/_Analytics.cshtml";
}
@section title { Dashboard }
@section header 
{
    <script src="@Html.Content("~/Scripts/ThridParty/DateFormat.js")" type="text/javascript"></script>
    <script src="@Html.Content("~/Scripts/ThridParty/Flot/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Html.Content("~/Scripts/ThridParty/Flot/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Html.Content("~/Scripts/analytics.dashboard.js")" type="text/javascript"></script>
    <script src="@Html.Content("~/Scripts/analytics.selector.js")" type="text/javascript"></script>
    <link href="@Html.Content("~/Content/after.login.master.css")" rel="stylesheet" type="text/css" />
    <link href="@Html.Content("~/Content/shared/filter.css")" rel="stylesheet" type="text/css" />
    <script src="@Html.Content("~/Scripts/filter.js")" type="text/javascript"></script>
    <link href="@Html.Content("~/Content/analytics.dashboard.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var usageChartData = @Html.Raw(Model.UsageChartData);
    </script>
}
@section topmenu { }
@Html.Partial("~/Views/Analytics/Filter.cshtml", Model)
<table class="dashboard">
<tr>
    <td colspan="2">
        <div class="charts">
            <div class="title"><span>Usage</span></div>
            <div id="usage_charts_place_holder" style="height:200px;width:875px;"></div>
        </div>
    </td>
</tr>
@*<tr>  
    <td>
        <div class="title"><span>Visitors</span></div>
        <div id="visitors_charts_place_holder" style="height:200px;width:437px;"></div>
    </td>
    <td>
        <div class="title"><span>Map Overlay</span></div>
        <img src="/Content/images/world_map.jpg" class="item" />
    </td>
</tr>*@
<tr>  
    @*<td>
        <div class="title"><span>Trafic Sources</span></div>
        <div class="item"></div>
    </td>*@
    <td colspan="2">
        <div class="title"><span>Content Overview</span></div>
         <section id="content" class="content-overview">

        <table class="content-overview">
            <thead>
                <tr>
                    <th class="index"></th>
                    <th class="path">Active screens</th>
                    <th class="visit">Visits</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ContentOverviewData.Any())
                {
                    @Model.Pathes.ToString();

                    foreach (var item in Model.ContentOverviewData)
                    {
                        <tr class="@(item.IndexIsOdd ? "odd" : "")">
                            <td class="index">
                                @item.Index
                            </td>
                            <td class="path">
                                <a href="@item.GetPathUrl(Model.FilterUrlPart)">@item.Path</a>
                            </td>
                            <td class="view">
                                @item.Views
                            </td>
                            <td class="action">
                                <a href="/Application/Screens/@item.ApplicationId">Add/Edit Screen</a>
                            </td>
                        </tr>
                    }
                }
                else
                {                     
                    <tr>
                        <td class="index"></td>
                        <td class="path">Ooppss... there is no data for this time period</td>
                        <td class="view"></td>
                        <td class="action"></td>
                    </tr>
                     
                }  
            </tbody>
        </table>
        </section>
        @*<div class="item"></div>*@
    </td>
</tr>
<tr>
    <td colspan="2">
    <div class="title"><span>All Screens</span></div>
        <table class="content-overview">
            <tbody>
                @if (Model.Pathes.Any())
                {
                    foreach (var item in Model.Pathes)
                    {
                      <tr>
                        <td class="path">
                           <a href="@Model.GetUrlPart(item.Value)"> @item.Value</a>
                         </td>
                      </tr>
                    }
                }
            </tbody>
        </table>
    </td>
</tr>
</table>



