@using EyeTracker.Helpers;
@using EyeTracker.Model.Pages.Home
@using EyeTracker.Model
@using EyeTracker.Model.Master
@model AfterLoginMasterModel
@{
    Layout = "~/Views/Shared/_MainTmp.cshtml";
}
@section title { @RenderSection("title") }
@section header 
{ 
   @RenderSection("header")
   <link rel="stylesheet" href="@Html.Content("~/Content/template/css/afterlogin.master.css")" type="text/css" media="all">
   <link rel="stylesheet" href="@Html.Content("~/Content/after.login.master.css")" type="text/css" media="all">
   <link href="@Html.Content("~/Content/New/other.css")" rel="stylesheet" type="text/css" />
}
<div class="tail-top">
<!-- header -->
	<header>
		<div class="container">
			<div class="header-box">
				<div class="left">
					<div class="right">
						<nav>
							<ul>
                                <li @Model.AnalyticsCssClassAttribute><a href="/">Analytics</a></li>
                                @*<li @Model.MyAccountCssClassAttribute><a href="/">My Account</a></li>*@
                                <li @Model.TutorialsCssClassAttribute><a href="/p/Tutorials">Get Started</a></li>
                                <li @Model.ProductsCssClassAttribute><a href="/p/Products">Products</a></li>
                                <li @Model.PlanAndPricingCssClassAttribute><a href="/p/PlanAndPricing">Plans and Pricing</a></li>
                                @*<li @Model.ContactsCssClassAttribute><a href="/Contacts">Contacts</a></li>*@
                                @if(Model.IsAdmin)
                                {
                                    <li @Model.AdministratorCssClassAttribute><a href="/Admin">Administrator</a></li>
                                }
							</ul>
						</nav>
                        <img class="logo" src="/Content/images/logo_43.png" alt="Fingerprint" />
					</div>
				</div>
			</div>
            <div class="user-info">
			<form action="/Account/LogOff">
                <a href="/Account/ChangePassword">Change password</a><br/><a href="#" onClick="$(this).closest('form').submit();">Logout</a>
			</form>
            <h2>Welcome! &nbsp;@Model.CurrentUserDisplayName</h2>
            </div>
		</div>
	</header>
    <div class="main-content">
        @RenderBody()
    </div>
</div>
