@using EyeTracker.Model
@using EyeTracker.Model.Master
@model MasterViewModelWrapper<MainMasterModel, BeforeLoginMasterModel>
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section title { @RenderSection("title") }
@section header { @RenderSection("header") }
<header>
    <div class="content-wrapper">
    <a id="logo" href="/"><img src="/content/new/images/logo-141X76.png" /></a>
    <form id="login" action="/Account/LogOn" method="post">
        <ul>
            <li><input type="email" name="UserName" maxlength="100" /></li>
            <li><input type="password" name="Password" maxlength="100" /></li>
            <li><input type="submit" value="Log in" class="button yellow" id="btn_login"/></li>
        </ul>
        <span class="links">@Html.ActionLink("Forgot Password?", "ForgotPassword", "Account") | @Html.ActionLink("Register", "Register", "Account")</span>
    </form><!-- /#login --> 
    <nav>
        <ul>
            <li class="@Model.SubMaster.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.Home)"><a href="/">Home</a></li>
            <li class="@Model.SubMaster.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.Products)"><a href="/p/Features">Features</a></li>
            <li class="@Model.SubMaster.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.PlanAndPricing)"><a href="/p/PlanAndPricing">Plans and Pricing</a></li>
            <li class="@Model.SubMaster.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.Tutorials)"><a href="/p/GetStarted">Get Started</a></li>
        </ul>
    </nav>
    </div>
</header>
@RenderBody()
<footer>
    <div class="content-wrapper">
    <div id="copyright">
        <img src="/content/new/images/logo-141X76.png" />
        <p>Copyright &#169; 2011@(DateTime.Today.Year > 2011 ? (" - " + DateTime.Today.Year) : "") <a href="http://www.mobillify.mobi" target="_blank">Mobillify</a></p>
    </div>
    <nav>
        <ul>
            <li>
				<a href="http://mobillify.com" target="_blank">Mobillify</a>
            </li>
            <li>
				<a href="http://twitter.com/mobillify" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="http://www.youtube.com/user/TheMobillify" target="_blank">Youtube</a>
            </li>
			<li>
                <a href="http://www.facebook.com/Mobillify" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="http://www.linkedin.com/company/2531757?trk=pro_other_cmpy" target="_blank">LinkedIn</a>
            </li>
			<li>
                <a href="http://angel.co/mobillify" target="_blank">Angellist</a>
            </li>
        </ul>
    </nav>
    </div>
</footer>
@*<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style " style="position:absolute; top:20px;left:5px;width:300px;">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fc7cd9c2af8afd3"></script>
<!-- AddThis Button END -->*@