@using EyeTracker.Helpers;
@using EyeTracker.Model
@using EyeTracker.Model.Master
@using EyeTracker.Model.Pages.Portfolio
@model PortfolioIndexModelTmp
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Portfolios }
@section header 
{
    <link href="@Html.Content("~/Content/shared/table.css")" rel="stylesheet" type="text/css" />
    <script src="@Html.Content("~/Scripts/table.js")" type="text/javascript"></script>
    <link href="@Html.Content("~/Content/portfolio.index.css")" rel="stylesheet" type="text/css" />
    <link href="@Html.Content("~/Content/shared/bredcrumbs.css")" rel="stylesheet" type="text/css" />
}
<div class="crumb">
    <div class="border-right">
		<div class="border-left">
			<div class="inner">
                <ul>
		        </ul>
			</div>
		</div>
    </div>
</div>
<div style="clear:both;"></div>
<div class="content-wrapper">
<h2>Applications</h2>
<div class="a-r top-panel">
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column column-active'>Most Active Applications</th>
		</tr>
		</thead>
        <tbody>
        @if (Model.TopApplications.Any())
        {
            foreach (var item in Model.TopApplications)
            {
                <tr class="@(item.IsAlternative ? "" : "alternate")"><td><a href="/Analytics/Dashboard/?aid=@(item.Id)">@item.Description</a></td></tr>
            }
        }
        else
        {
            <tr class="no-items"><td class="colspanchange">No applications.</td></tr>
        }
        </tbody>
    </table>
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column column-active'>Most Active Screens</th>
		</tr>
		</thead>
        <tbody>
        @if (Model.TopScreens.Any())
        {
            foreach (var item in Model.TopScreens)
            { 
                <tr class="@(item.IsAlternative ? "" : "alternate")"><td><a href="/Analytics/Dashboard/?aid=@(item.ApplicationId)&ss=@(item.ScreenSize)&p=@(item.Path)">@item.Path: @item.ScreenSize</a></td></tr>
            }
        }
        else
        {
            <tr class="no-items"><td class="colspanchange">No screens.</td></tr>
        }
        </tbody>
    </table>
</div>
<div class="wrap">
	<div class="t-nav">
        <div class="a-l actions">
            <a href="/Application/New/" class="link2"><span><span>+ Add Application</span></span></a>
        </div>
		<div class="a-l search-box">
			<input type="search" id="search-input" name="s" value="@Model.SearchStr" />
            <a class="link2" onclick="javascript: document.location.href = '/Application/?cp=1&srch=' + escape($('#search-input').val());"><span><span>Search</span></span></a>
		</div>
		<div class='t-nav-pages @(Model.IsOnePage ? "one-page" : "")'>
			<span class="d-num">@Model.Count items</span>
			<span class='pagination-links'>
				<a class='first-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the first page' href='/Application/?cp=1@Model.UrlPart'>&laquo;</a>
				<a class='prev-page @(Model.PreviousPage.HasValue ? "" : "disabled")' title='Go to the previous page' href='/Application/?cp=@(Model.PreviousPage.HasValue ? Model.PreviousPage.Value : 1)@Model.UrlPart'>&lsaquo;</a>
				<span class="paging-input">
					<input class='cur-p' title='Current page' type='text' name='paged' value='@Model.CurPage' size='1' /> of <span class='total-pages'>@Model.TotalPages</span>
				</span>
				<a class='next-page @(Model.NextPage.HasValue ? "" : "disabled")' title='Go to the next page' href='/Application/?cp=@(Model.NextPage.HasValue ? Model.NextPage.Value : Model.TotalPages)@Model.UrlPart'>&rsaquo;</a>
				<a class='last-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the last page' href='/Application/?cp=@(Model.TotalPages)@Model.UrlPart'>&raquo;</a>
			</span>
		</div>
	</div><!-- /table-head -->
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column column-active' colspan="2">Active</th>
			<th scope='col' class='manage-column column-desc'>Description</th>
			<th scope='col' class='manage-column column-desc'>Key</th>
			<th scope='col' class='manage-column column-applications'>Versions</th>
			<th scope='col' class='manage-column column-visits'></th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<th scope='col' class='manage-column column-active' colspan="2">Active</th>
			<th scope='col' class='manage-column column-desc'>Description</th>
			<th scope='col' class='manage-column column-desc'>Key</th>
			<th scope='col' class='manage-column column-applications'>Versions</th>
			<th scope='col' class='manage-column column-visits'></th>
		</tr>
		</tfoot>
		<tbody id="the-list" class='list:user'>
        @if (Model.Applications.Any())
        {
            foreach (var app in Model.Applications)
            {	
		        <tr class="portf @(app.Alternate ? "" : "alt")" portfid="@app.Id">
			        <td colspan="2">
				        <div class="@(!app.IsActive ? "status-alert" : "status-ok")" title="@(app.IsActive ? "" : "The application has not been active for past 3 days.")"></div>
			        </td>
			        <td class="column-desc">
                        <span>@app.Description</span>
				        <br />
				        <div class="row-actions">
					        <span class='edit'><a href="/Application/Edit/@app.Id">Edit</a> | </span>
					        <span class='delete'><a class='submitdelete' href='/Application/Remove/@app.Id' onclick="javascript:return confirm('Are you realy want to remove @app.Description application? The operation is not recoverable!');">Delete</a> | </span>
					        <span class='upload'><a href="/Application/Publish/@app.Id">Upload Package</a></span>
				        </div>          
                    </td>
                    <td>
                        @app.Key
                    </td>
			        <td class="column-applications">
                        <span>5</span>
                    </td>
			        <td class="role column-visits"><a href="/Analytics/Dashboard/?aid=@app.Id">Live visits: @app.Visits &nbsp; Live analytics</a></td>
		        </tr>
@*                if (app.AnalyticsVersions.Any())
                {
                    foreach (var version in app.AnalyticsVersions)
                    {	
		                <tr class="app portf-@(app.Id) @(version.Alternate ? "" : "app-alt")">
                            <td><input type="checkbox" /></td>
			                <td>
				                <div class="@(!version.IsActive ? "status-alert" : "status-ok")" title="@(version.IsActive ? "" : "The version has not been active for past 3 days.")"></div>
			                </td>
			                <td colspan="3">
                                <a href="/Analytics/Dashboard/?aid=@version.Id">
                                <span> &nbsp; <strong>Published:</strong> @version.Published</span>
                                <span> &nbsp; <strong>Target Group:</strong> @version.TargetGroup</span>
                                <br />
                                <span><strong>Downloads:</strong> @version.Downloads</span>
                                <span> &nbsp; <strong>Visits:</strong> @version.Visits</span>
                                <span> &nbsp; <strong>Time:</strong> @version.Time</span>
                                <span> &nbsp; <strong>Clicks:</strong> @version.Clicks</span>
                                <span> &nbsp; <strong>Scrolls:</strong> @version.Scrolls</span></a>
                            </td>
		                </tr>
                    }
                }
*@            }
        }
        else
        {
          <tr class="no-items"><td colspan="4" class="colspanchange">No matching applications were found.</td></tr>
        }
		</tbody>
	</table>
	<div class="t-nav bottom">
		<div class='t-nav-pages @(Model.IsOnePage ? "one-page" : "")'>
			<span class="d-num">@Model.Count items</span>
			<span class='pagination-links'>
				<a class='first-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the first page' href='/Application/?cp=1@Model.UrlPart'>&laquo;</a>
				<a class='prev-page @(Model.PreviousPage.HasValue ? "" : "disabled")' title='Go to the previous page' href='/Application/?cp=@(Model.PreviousPage.HasValue ? Model.PreviousPage.Value : 1)@Model.UrlPart'>&lsaquo;</a>
				<span class="paging-input">@Model.CurPage of <span class='total-pages'>@Model.TotalPages</span></span>
				<a class='next-page @(Model.NextPage.HasValue ? "" : "disabled")' title='Go to the next page' href='/Application/?cp=@(Model.NextPage.HasValue ? Model.NextPage.Value : Model.TotalPages)@Model.UrlPart'>&rsaquo;</a>
				<a class='last-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the last page' href='/Application/?cp=@Model.TotalPages@Model.UrlPart'>&raquo;</a>
			</span>
		</div>
		<br class="clear" />
	</div>
</div><!-- /wrap -->

<br class="clear" />
</div>
